*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: silver;
}
.other{
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;

}
a{
    cursor: pointer;
}
button{
    outline: none;
    cursor: pointer;
    background-color: #5056C6;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    width: 200px;
}
body .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: none;
}

body .container nav{
    display: flex;
    flex-direction: row;
    padding: 15px 0;
    justify-content: center;
}

#seachBar{
    padding: 0 10px;
}
#searchUser{
    padding: 6px;
    margin: 4px 0;
    width: 20rem;
}
.hide{
    visibility: hidden;
}
.login-signup{
    margin-top: -20em;
}
.login-signup .title{
    width: 100%;
    text-align: center;
}
.login-signup .title h1{
    margin-bottom: 10px;
}
.login-signup form{
    margin: 15px auto;
    width: 100%;
}
.login-signup input{
    width: 100%;
    padding: 15px 25px;
    border-radius: 15px;
    outline: none;
    border: 1px solid rgb(170, 168, 168);
}
.login-signup .group{
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.login-signup button{
    margin: 15px 0;
    width: 100%;
    padding: 15px 25px;
    
    
}
.login-signup svg{
    width: 24px;
}
/* github search section */
body .container .github-search-container{
    margin-top: -11em;
}
.input-container{
    display: flex;
    flex-direction: column;
}
body .container .github-search-container{
    width: 15rem;
}
body .container #seachBar{
    height: 28px;
    width: 20rem;
    border-radius: 6px;
    outline: none;
    font-weight: 550;
    margin-bottom: 8px;
}
body #githubicons{
    display: flex;
    flex-direction: row;
}
body #githubicons p{
    margin-right: 5px;
}
body #githubicons > *{
    display: flex;
    flex-direction: column;
    margin: 10px;
}